    .notification-bar {
        left: 32%;
        position: absolute;
        top: 0px;
        height: 50px;
        width: 420px;
        border-radius: 0 0 5px 5px;
        background-color: #2DBECD;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.05);
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        line-height: 45px;
    }

    .warning-bar {
        background-color: darkorange !important;
        color: #ffffff;
    }

    .information-bar {
        background-color: #2DBECD !important;
        color: #ffffff;
    }

    .error-bar {
        background-color: #E61E50 !important;
        color: #ffffff;
    }

    .custom-notification-bar {
        left: 32%;
        position: absolute;
        top: 60px;
        height: 50px;
        width: 420px;
        border-radius: 0 0 5px 5px;
        background-color: #2DBECD;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.05);
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        line-height: 45px;
    }